@model IEnumerable<Assignment2.Models.WorkoutPlan>

@{
    ViewData["Title"] = "Workout Plans";
}

<h1>Workout Plans</h1>

<p>
    <a asp-action="Create">Click to Create Workout Plans.</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlanName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkoutPlanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkoutPlanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkoutPlanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
